.opciones-compra{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.item-compra{
    width: 15.5%;
    height: 200px;
    margin-top: 5%;
    margin-right: 0.5%;
    padding: 1%;
    border: 2px rgb(45, 198, 236);
    border-style:groove;
    text-align: center;
}

.item-compra:hover{
    background-color: whitesmoke;
    border: 2px rgb(6, 192, 239);
    border-style:groove;
}

#estructura_completa{
    width: 100%;
    height: 400px;
}

.estructura_formulario{
    display: grid;
    width: 60%;
    margin-left: 20%;
    margin-top: 0.5%;
}

.formulario{
    display: flex;
    justify-content: center;
}

.campos-formulario{
    width: 39%;
    height: 35px;
    padding: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.7%;
}

#campo_mail{
    width: 78.5%;
    margin-left: 10.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0.5%;
}

.cantidad_categorias{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: -14%;
    padding: 0.5%;
}



#total{
    width: 47.4%;
    height: 35px;
    background-color: rgba(120, 172, 250, 0.537);
    color: rgb(76, 115, 167);
    margin-top: 1.5%;
    margin-left: 26.2%;
    margin-bottom: 1.5%;
    padding: 0.4%;
    border-radius: 2%;
}

.botones_espacio{

    display: flex;
    justify-content: center;
    margin-left: 25.2%;
    padding: 1%;
    width: 50%;
}

.botones{
    width: 100%;
    background-color: rgb(128, 193, 30);
    color: white;
    border: none;
    padding: 1%;
    border-radius: 4.2%;
    margin-bottom: 2%;
    margin-right: 1.5%;
}

.datos_faltantes{
    background-color: rgb(185, 0, 0);
    color: white;
    text-align: center;
    width: 100%;
    margin-left: 36%;
    padding: 1rem;
    margin-bottom: 7%;
    position: sticky;
}

.datos_completos{
    background-color: rgb(74, 185, 0);
    color: white;
    text-align: center;
    width: 100%;
    margin-left: 40%;
    padding: 1rem;
}



@media screen and (max-width: 750px) {
   
    .item-compra{
        width: 29.2%;
        height: 180px;
        margin-top: 5%;
        margin-right: 0.5%;
        padding: 1%;
        border: 2px rgb(45, 198, 236);
        border-style:groove;
        text-align: center;
    }

    #estructura_completa{
        width: 100%;
        height: 390px;
    }

    .estructura_formulario{
        display: grid;
        width: 89%;
        margin-left: 5.5%;
        margin-top: 0.5%;
    }

    .campos-formulario{
        width: 100%;
        height: 40px;
        margin-right: 0.5%;
    }
    
    #campo_mail{
        width: 99.5%;
        margin-top: 1%;
        margin-left: 0%;
        margin-bottom: 1%;
        padding: 0.5%;
    }
    
    .cantidad_categorias{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-left: -20%;
        padding: 1%;
    }
    
    #total{
        width: 88.5%;
        height: 37px;
        margin-top: 2%;
        margin-left: 5.5%;
        margin-bottom: 2%;
        padding: 0.4%;
        border-radius: 1.5%;
    }
    
    .botones_espacio{
        display: flex;
        justify-content: center;
        margin-left: 4.5%;
        padding: 1%;
        width: 92%;
    }
    
    .botones{
        width: 100%;
        padding: 1%;
        border-radius: 4.2%;
        margin-bottom: 2%;
        margin-right: 1.5%;
    }

    .datos_faltantes{
        background-color: rgb(185, 0, 0);
        color: white;
        text-align: center;
        width: 100%;
        margin-left: 25%;
        padding: 1rem;
        margin-bottom: 7%;
        position: sticky;
    }
    
    .datos_completos{
        background-color: rgb(74, 185, 0);
        color: white;
        text-align: center;
        width: 100%;
        margin-left: 30%;
        padding: 1rem;
    }
    
     
}

@media screen and (max-width: 500px) {

    .item-compra{
        width: 30%;
        height: 190px;
        margin-top: 5%;
        margin-right: 0.5%;
        padding: 1%;
        border: 2px rgb(45, 198, 236);
        border-style:groove;
        text-align: center;
    }    
    
    #campo_mail{
        width: 100%;
        height: 40px;
    }
    
    .cantidad_categorias{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-left: -16%;
        padding: 1%;
    }
    
    #total{
        width: 88.5%;
        height: 37px;
        margin-top: 2%;
        margin-left: 5.5%;
        margin-bottom: 2%;
        padding: 0.4%;
        border-radius: 1.5%;
    }
    
    .botones_espacio{
        display: flex;
        justify-content: center;
        margin-left: 4.5%;
        padding: 1%;
        width: 92%;
    }
    
    .botones{
        width: 100%;
        padding: 1%;
        border-radius: 4.2%;
        margin-bottom: 2%;
        margin-right: 1.5%;
    }

    .datos_faltantes{
        margin-left: 10%;
    }
    
    .datos_completos{
        margin-left: 25%;
    }
}