/* Basic styling */ * 
{ 
    box-sizing: border-box; padding: 0; margin: 0; 
} 

header{
    height: 30px;
    width: 100%;
}

ul{ 
    list-style-type: none; 
    box-sizing: content-box;
} 

.navegador{
    height: 100%;
    width:  100%;
    padding: 0.7% 2% 3.5%; 
    background-color: rgb(56, 55, 56);
}

.logo_cac{
    width: 80px;
    height: 1%;
    margin-left: 7%;
}

.letras_nav{
    color: white;
    text-decoration: none;
    font-size: 16px;
    position:absolute;
    text-align: center;
    padding: 1%;
}

.opciones_nav{
    margin-left: 30%;
}

.letras_secundarias_nav{
    color: rgb(193, 186, 186);
    text-decoration: none;
    font-size: 16px;
    padding: 1%;
    position: absolute;
    text-align: center;
    margin-left: 38%;
}

.espacio_lugar_fecha{
    margin-left: 45%;
}

.espacio_conviertete{
    margin-left: 52%;
}


#letra_color_verde{
    color: rgb(18, 158, 18);
    margin-left: 63%;
}