/* PANTALLA COMPUTADORA */ 
* { 
    box-sizing: border-box; padding: 0; margin: 0;    
} 

.navegador{
    height: 50px;
    width:  100%;
    padding: 0.7% 2% 3.5%; 
    background-color: rgb(56, 55, 56);
    display: flex;
    justify-content: space-evenly;
}

.espacio_logo{
    width: 7%;
    height: 50px;
}

.logo{
    width: 100%;
    height: 50px;
    background-image: url("/img/codoacodo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.contenido-nav{
    width: 100%;
    height: 50px;
    font-size: 1rem;
    padding: 0.5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;
}

.contenido-nav ul{
    width: 100%;
    padding-right: 5% !important;
    justify-content: space-evenly;
}

.contenido-nav a, a{
    text-decoration: none !important;
    color: #fff !important;
    margin-right: 5%;
}

#letra_color_verde{
    color: rgb(18, 158, 18) !important;
}

.espacio-carousel{
    width: 100%;
    height: auto;
    margin-top: -2%;
}

.imagen_car{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/car1.jpg");
}

#tamaño_img_carousel{
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 2%;
    height: 730px;
} 

.caption{
    color: white;
    font-weight: bolder;
	text-shadow: 1px 1px black;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.cap1 {
	font-size: 35px;
    margin-left: 1%;
    margin-bottom: 15%;
}

.cap2 {
	font-size: 20px;
    margin-left: 50%;
    text-align: end;
}

.conoce{
    margin-top: 1%;
    text-align: center;
    color: rgb(119, 116, 116);
}

.oradores{
    margin-top: 0.5%;
    text-align: center;
}

.contenedor{
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 9.7%;
        margin-top: 3%;
        justify-content: space-evenly;
}

.contenedor_prog{
    display: flex;
    flex-direction: row;
}

.javascript{
    font-weight: bold;
    width: 30%;
}

.react{
    margin-left: 3%;
    background-color: rgba(0, 187, 255, 0.899);
    color: white;
    width: 20%;
    height: 21.5%;
    border-radius: 20%;
    border: 2%;
    border-color: #191818;
}

.startups{
    margin-left: 3%;
}

#negocios{
    background-color: gray;
    color: white;
}

.nombre{
    margin-top: -5%;
    font-size: large;
}

.contenedor_imagen_playa{
    width: 100%;
    height: 350px;
    margin-top: 7%;
}

#contenedor_texto_imagen{
    height: 310px;
    background-color:  rgb(73, 71, 73);
    color: white;
    border: 1px solid;
    border-color: white;
}

.conoce_mas{
    width: 100px;
    padding: 0.5%;
    border: 1px solid;
    border-radius: 5px;
}

.espacio_textos{
    height: 250px;
}

.parrafo_anotate{
    text-align: center;
}

.subrayado{
    border-bottom: 2px dotted #191818;
    text-decoration:none;
}

.info_completa{
    height: 420px;
    flex-direction: column;
    flex-wrap: wrap;
}

#info_orador{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
}

.espacio_nombre{
    margin-left: 24.5%;
    width: 25%;
}

.espacio_apellido{
    margin-left: 1.5%;
    width: 25%;
}

.area{
    width: 51.5%;
    margin-top: -15%;
    margin-left: 25%;
}

.recuadro_aviso_boton{
    height: 150px;
}

.recordatorio{
    text-align: center;
    margin-left: 29.2%;
    color: rgb(105, 103, 103);
    margin-right: 50%;
}

.boton_enviar{
    margin-left: 29.2%;
    width: 41.2%;
    height: 40px;
    background-color: rgb(128, 193, 30);
    color: white;
    border: none;
    border-radius: 4.2%;
    margin-bottom: 2%;
}

footer{
    width: 100%;
    background: linear-gradient(70deg, rgba(26,54,68,255), rgba(27,82,113,255));
    height: 80px;
    color: white;
    padding: 1%;
    font-size: 1rem;
    padding: 0.5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;
}

.footer-lista ul{
    width: 100%;
    padding-right: 5% !important;
    justify-content: space-evenly;
}

.footer-lista a{
    text-decoration: none !important;
    color: #fff !important;
    margin-right: 5%;
}



/* PANTALLA NOTEBOOK */
@media (max-width: 1300px) {

    a {
        margin-right: 3%;
        font-size: 0.9rem;
    }

    #tamaño_img_carousel {
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 2%;
        height: 550px;
    }

    .cap1 {
        font-size: 35px;
        margin-left: 1%;
        margin-bottom: 25%;
    }

    .cap2 {
        font-size: 20px;
        margin-left: 50%;
        text-align: end;
    }

    .contenedor {
        margin-left: 10%;
        margin-top: 5%;
        justify-content: space-evenly;
    }

    .card {
        margin-right: 5%;
    }

    .javascript {
        width: 50%;
        padding: 3%;
    }

    .react {
        width: 30%;
        padding: 3%;
    }

    .contenedor_imagen_playa{
        height: 270px;
        margin-bottom: 0%;
    }
    
    #contenedor_texto_imagen{
        height: 257px;
        font-size: 0.8rem;
    }
    
    .conoce_mas{
        text-align: center;
    }
    
    .parrafo_anotate{
        text-align: center;
    }

    .info_completa{
        height: 380px;
    }
    
    #info_orador{
        height: 450px;
    }
    
    .recuadro_aviso_boton{
        height: 150px;
    }
    
    .recordatorio{
        width: 30%;
        margin-left: 25%;
        margin-right: 0%;
        font-size: 1rem;
    }


}


@media (max-width: 999px) {

    a {
        font-size: 0.8rem;
    }

    #contenedor_texto_imagen{
        height: 197px;
        font-size: 0.7rem;
    }

    .espacio_textos{
        height: 190px;
    }

    .area{
        margin-top: -20%;
    }

    .recordatorio{
        margin-left: 28.5%;
    }

}

/* PANTALLA NOTEBOOK*/

@media (max-width: 950px) {

    a {
        font-size: 0.6rem;
    }

    #tamaño_img_carousel {
        height: 500px;
    }

    .cap1 {
        margin-bottom: 30%;
    }

    .oradores{
        height: 50px;
    }

    .javascript {
        width: 60%;
    }

    footer{
        height: 400px;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0%;
        justify-content: center;
    }

    .footer-lista{
        height: 400px;
        padding: 5%;
        justify-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .footer-lista a{
        text-decoration: none !important;
        color: #fff !important;
        font-size: 1rem !important;
        padding: 5%;
    }


}


@media (max-width: 879.99px){

    #tamaño_img_carousel {
        height: 470px;
    }

    .cap1 {
        font-size: 1.8rem;
    }

    .cap2 {
        font-size: 1rem;
    }

    .conoce{
        margin-top: 5%;
    }
    
    .oradores{
        height: 50px;
    }

    .contenedor{
        height: 1700px;
        flex-direction: column;
    }

    .card{
        margin-bottom: 5%;
    }

    .javascript {
        width: 40%;
    }

    .react{
        width: 30%;
    }

    .contenedor_imagen_playa{
        height: 220px;
    }

    .recordatorio{
        width: 35%;
        margin-left: 28%;
    }


}


@media (max-width: 800px){

    .navegador{
        height: 600px;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    
    .espacio_logo{
        width: 30%;
        height: 70px;
        margin-left: 7%;
    }
    
    .logo{
        height: 70px;
    }
    
    .contenido-nav{
        width: 100%;
        height: 500px;
        padding: 0%;
        justify-content: center;
        align-items: center;
    }
    
    a{
        width: 100%;
        font-size: 1rem;
        padding: 5%;
        display: flex;
        flex-direction: column;
    }

    .primer-espacio-nav{
        margin-right: 0%;
    }

    #tamaño_img_carousel {
        height: 420px;
    }

    .cap1 {
        font-size: 1.7rem;
    }

    .cap2 {
        font-size: 0.9rem;
    }

    .contenedor_imagen_playa{
        width: 100%;
        height: 650px;
    }

    .recordatorio{
        width: 35%;
        margin-left: 28%;
    }


}



/* PANTALLA DE CELULAR */

@media (max-width: 700px){

    #tamaño_img_carousel {
        height: 360px;
    }

    .cap1 {
        font-size: 1.7rem;
        margin-bottom: 30%;
    }

    .cap2 {
        font-size: 0.9rem;
    }

    .contenedor_imagen_playa{
        width: 100%;
        height: 650px;
    }

    .recordatorio{
        width: 35%;
        margin-left: 28%;
    }


}



@media (max-width: 650px){

    #tamaño_img_carousel {
        height: 320px;
    }

    .cap1 {
        font-size: 1.5rem;
    }

    .cap2 {
        font-size: 0.8rem;
    }

    .contenedor_imagen_playa{
        width: 90%;
        height: 520px;
        margin-left: 5%;
    }

    .area{
        margin-top: -30%;
    }

    .recordatorio{
        width: 40%;
        margin-left: 29%;
        font-size: 0.8rem;
    }

}


@media (max-width: 550px){

    #tamaño_img_carousel {
        height: 290px;
    }

    .cap1 {
        font-size: 1.2rem;
    }

    .cap2 {
        font-size: 0.7rem;
    }

    .contenedor{
        height: 1800px;
    }

    .contenedor_imagen_playa{
        height: 500px;
    }

    .espacio_textos{
        height: 130px;
    }

    #contenedor_texto_imagen{
        height: 230px;
    }

    .info_completa{
        height: 350px;
        margin-left: 0%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
    }
    
    #info_orador{
        width: 100%;
        height: 350px;
        margin-top: 0%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
    }
    
    .espacio_nombre, .espacio_apellido, .area{
        width: 80%;
        margin-left: 0%;
        margin-bottom: 1.5%;
        margin-top: 0%;
    }
    
    .recordatorio{
        width: 70%;
        margin-left: 7%;
        margin-bottom: 2%;
        font-size: 1rem;
    }
  
}

@media (max-width: 500px){

    #tamaño_img_carousel {
        height: 260px;
    }

    .cap1 {
        font-size: 1.1rem;
    }

    .cap2 {
        font-size: 0.6rem;
    }


}


@media (max-width: 450px){

    #tamaño_img_carousel {
        height: 240px;
    }

}

